@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b0d;
  --foreground: #f7f7f7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
